apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: nginx
  name: yskimv1
spec:
  replicas: 2
  selector:
    matchLabels:
      app: nginx
  strategy: {}
  template:
    metadata:
      labels:
        app: nginx
    spec:
      serviceAccountName: harbor-sa
      containers:
      - name: nginx11
        image: nginx:latest
        imagePullPolicy: Always
      imagePullSecrets:
      - name: harbor-secret
