apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: nginx
  name: oprtest
spec:
  replicas: 3
  selector:
    matchLabels:
      app: nginx
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: nginx
    spec:
      containers:
      - name: ngin3
        image: ec2-13-209-35-23.ap-northeast-2.compute.amazonaws.com/unn-project/testweb:latest
        imagePullPolicy: Always
      imagePullSecrets:
      - name: harbor-secret
