apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app: nginx
  name: unnnginx
spec:
  replicas: 2
  selector:
    matchLabels:
      app: nginx
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: nginx
    spec:
      containers:
      - name: ngin3
        image: ec2-54-180-108-28.ap-northeast-2.compute.amazonaws.com/unn-project/nginx
        imagePullPolicy: Always

