apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: nginx
  name: testoprv4
spec:
  replicas: 2
  selector:
    matchLabels:
      app: nginx
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: nginx
    spec:
      containers:
      - name: nginx11
        image: ip-172-31-2-139.ap-northeast-2.compute.internal/unn-project/webv11
        imagePullPolicy: Always
      imagePullSecrets:
      - name: harbor-secret
