apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app: nginx
  name: oprnginx
spec:
  replicas: 2
  selector:
    matchLabels:
      app: nginx
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: nginx
    spec:
      containers:
      - name: oprnginx
        image: ec2-3-34-3-180.ap-northeast-2.compute.amazonaws.com/unn-project/web01:latest
        imagePullPolicy: Always
