apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: nginx
  name: testoprv5
spec:
  replicas: 2
  selector:
    matchLabels:
      app: nginx
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: nginx
    spec:
      containers:
      - name: nginx11
        image: ec2-13-124-35-231.ap-northeast-2.compute.amazonaws.com/unn-project/webv12
        imagePullPolicy: Always
      imagePullSecrets:
      - name: harbor-secret
